/* Host_VenueIntroduction.css */
body {
    font-family: 'Pretendard';
}
.host-venue-introduction {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    gap: 10px;
  }
  
  .introduction-header {
    margin-bottom: 0px;
  }
  
  .introduction-header h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .introduction-header p {
    font-size: 18px;
    color: black;
  }
  
  .venue-description {
    width: 626px;
    height: 135px;
    border-radius: 14px;
    border: 1px solid #9c9c9c;
    margin-bottom: 40px;
    margin-top: 10px;
    resize: none;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
  }
  .venue-description:focus{
    border:1px solid #9c9c9c !important;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
label{
    font-size: 21px;
    color: #9c9c9c;
    margin-right: 10px;
    white-space: nowrap;
    font-weight: 500;
    line-height: 36px;
  }
  
  .input-with-unit {
    display: flex;
    align-items: center;
  }
  
  .input-type-1{    
    width: 112px;
    height: 41px;
    border: 1px solid #9c9c9c;;
    border-radius: 10px;
    margin-right: 5px;
    margin-left:10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;

  }
  .input-type-2{
    width: 170px;
    height: 41px;
    border: 1px solid #9c9c9c;;
    border-radius: 10px;
    margin-right: 5px;
    margin-left:10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    margin-right: 10px;
  }
  .time-field{
    width: 626px;
    height: 135px;
    border-radius: 14px;
    border: 1px solid #9c9c9c;;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
  }

  .time-field:focus{
    border:1px solid #9c9c9c !important;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9c9c9c;
    border-radius: 4px;
  }

  
  .input-with-unit span {
    font-size: 21px;
    color: #4f4f4f;
    margin-left: 5px;
  }
  
  .input-group, .info-row {
    display: flex;
    flex-direction: column; /* 세로로 배치되도록 설정 */
    margin-bottom: 15px;
    position: relative;
}
  .info-row label {
    font-size: 14px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    margin-top: 5px;
  }
  
  .register-button {
    width: 121px;
    height: 41px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    
    position: relative; /* 부모 요소에 상대적인 위치를 사용 */
    right: -500px; /* 현재 위치에서 300px만큼 오른쪽으로 이동 */
  }

  .register-button23 {
    width: 120px;
    height: 41px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

  }
  
  .location-section {
    margin-top: 40px;
  }
  
  .location-section h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .location-section p {
    font-size: 20px;
    color: #9c9c9c;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  

  /* 기존 label 스타일에 맞추기 위해 추가 */
label[for="fee"],
label[for="service"] {
    font-size: 21px;
    color: #9c9c9c;
    margin-right: 10px;
    white-space: nowrap;
    font-weight: 500;
    line-height: 36px;
}


  
.fee-field{
    width: 626px;
    height: 158px;
    border-radius: 14px;
    border: 1px solid #9c9c9c;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
}

.fee-field:focus{
  border:1px solid #9c9c9c !important;
}

.service-field{
    width: 626px;
    height: 158px;
    border-radius: 14px;
    border: 1px solid #9c9c9c;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
}

.service-field:focus{
  border:1px solid #9c9c9c !important;
}

.location-header {
    display: flex;
    align-items: center;
    position: relative;
  }

  .location_register_here{
    position: relative;
    top:-7px;
  }
  
.ex_map {
    display: flex;
    width:618px;
    height:303px;
    border-radius: 14px;
  }
  
.place_edit_icon {
    width: 22px;
    height: 22px;
    margin-left: 10px;

    position: relative;
    top:-7px;
    cursor: pointer;
  }
  