.ConcertReceipt {
  box-sizing: border-box;
  padding-bottom: 100px;
  position: absolute;
  width: 698px;
  /* height: 1523px; */
  height: 1000px;

  left: 707px;
  top: 85px;

  background: #ffffff;
  border-radius: 25px;
}

.ConcertReceipt h1,
.Receipt h1 {
  /* 고스락 23기 */

  position: absolute;
  width: 482px;
  height: 48px;
  left: 91px;
  top: 64px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  /* or 75% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.ConcertReceipt .date,
.Receipt .date {
  /* 2024-02-28에 공연장 대관을 신청했습니다 */

  position: absolute;
  width: 548px;
  height: 30px;
  left: 91px;
  top: 134px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.ConcertReceipt .school {
  /* 소속 */

  box-sizing: border-box;
  padding: 0;
  padding-left: 23px;
  padding-top: 5px;

  position: absolute;
  width: 529px;
  height: 63px;
  left: 91px;
  top: 187px;

  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 18px;
}

.ConcertReceipt p:nth-of-type(1) {
  /* 소속 */

  width: 74px;
  height: 20px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */
  display: flex;
  align-items: center;

  color: #828282;
}

.ConcertReceipt p:nth-of-type(2) {
  /* 홍익대학교 */

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  margin: 0;

  color: #363636;
}

.ConcertReceipt .number {
  /* 소속 */

  box-sizing: border-box;
  padding: 0;
  padding-left: 23px;
  padding-top: 5px;

  position: absolute;
  width: 529px;
  height: 63px;
  left: 91px;
  top: 267px;

  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 18px;
}

.ConcertReceipt .information {
  /* 소속 */

  box-sizing: border-box;
  padding: 0;
  padding-left: 23px;
  padding-top: 5px;

  position: absolute;
  width: 529px;
  height: 166px;
  left: 91px;
  top: 347px;

  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 18px;
}

.ConcertReceipt .image {
  position: absolute;
  top: 530px;
  left: 91px;
  width: 529px;
  height: 377px;
  display: flex;
  justify-content: space-between;
}

.ConcertReceipt .image img {
  /* Frame 285 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 18.7285px 18.7285px 21.7251px 35.9588px;
  gap: 7.49px;

  position: absolute;
  width: 255px;
  height: 179px;
  padding: 0;

  border-radius: 18px;
}

.ConcertReceipt .profile_img_0 {
  top: 0px;
  left: 0px;
}

.ConcertReceipt .profile_img_1 {
  top: 0px;
  left: 272px;
}

.ConcertReceipt .profile_img_2 {
  top: 180px;
  left: 0;
}

.ConcertReceipt .profile_img_3 {
  top: 180px;
  left: 272px;
}

.ConcertReceipt .Button_gray {
  /* 예매하기 버튼 */

  position: absolute;
  width: 242px;
  height: 48px;
  left: 91px;
  top: 898px;

  background: #e8e8e8;
  border-radius: 14px;
}

.ConcertReceipt .Button_green {
  /* 예매하기 버튼 */

  box-sizing: border-box;

  position: absolute;
  width: 242px;
  height: 48px;
  left: 378px;
  top: 898px;

  background: #09f1b9;
  border: 1px solid #09f1b9;
  border-radius: 14px;
}

/* Receipt css */

.Receipt {
  /* 멤버 추가하기 */

  position: absolute;
  width: 698px;
  height: 679px;
  left: 707px;
  top: 85px;

  background: #ffffff;
  border-radius: 25px;
}

.Receipt .price {
  /* 소속 */

  box-sizing: border-box;

  position: absolute;
  width: 529px;
  height: 298px;
  left: 84px;
  top: 208px;

  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 18px;
}

.Receipt .price p {
  /* 멀티트랙 레코딩 */

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #363636;
}

.Receipt .Button_gray {
  /* 예매하기 버튼 */

  position: absolute;
  width: 242px;
  height: 48px;
  left: 84px;
  top: 567px;
}

.Receipt .Button_green {
  /* 예매하기 버튼 */

  position: absolute;
  width: 242px;
  height: 48px;
  left: 371px;
  top: 567px;
}

.Receipt .receipt-item {
  display: flex;
  justify-content: space-between;
}

.Receipt .Line40 {
  /* Line 41 */

  width: 374px;
  height: 0px;

  border: 1.5px solid #e8e8e8;

  position: absolute;
  top: 225px;
  left: 70px;
}

.Receipt .total_price {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 130px;
}
