.MypageBooking {
  /* 관람자 - 마이페이지 */

  position: relative;
  width: 1440px;
  height: 1216px;

  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
}

.MypageBooking_content {
  /* 예매 확인 */

  position: absolute;
  height: 1138px;
  left: 0px;
  right: 0px;
  top: 78px;

  background: #fbfbfb;
  border-radius: 36px;
}

.MypageBooking_content .mypage_h3 {
  /* Group 36 */

  position: absolute;
  width: 173px;
  height: 68px;
  left: 246px;
  top: 107px;
  margin: 0;

  /* Product title */

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 68px;
  /* identical to box height, or 170% */

  color: #171a1f;
}
.MypageBooking_content .profile_img {
  /* Frame 339 */

  position: absolute;
  width: 67px;
  height: 64.77px;
  left: 246px;
  top: 202px;
  margin: 0;

  background: #94bfe7;
  border-radius: 50.25px;
}

.MypageBooking_content .name {
  /* 홍길동 */

  position: absolute;
  width: 166px;
  height: 34px;
  left: 337px;
  top: 215px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  /* or 115% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.MypageBooking_content .next {
  /* Group 37 */

  position: absolute;
  width: 306px;
  height: 36px;
  left: 568px;
  top: 291px;

  /* Product title */

  position: absolute;
  width: 306px;
  height: 36px;
  left: 568px;
  top: 291px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  /* or 107% */
  display: flex;
  align-items: center;

  color: #171a1f;
}

.MypageBooking_content .next span {
  color: #058f6d;
}

.pamphlet_next {
  /* Container 171 */

  /* 공연 예매 내역 */

  position: absolute;

  left: 410px;
  top: 345px;
  width: 600px;
  height: 277px;

  border: 2px solid #e8e8e8;
}

.pamphlet_next .pamphlet_ticket,
.pamphlet_next .pamphlet_button,
.pamphlet_next .status {
  display: none;
}

.pamphlet_next .pamphlet_div {
  border: none;
}

.MypageBooking_content .choice {
  /* 선택 */

  box-sizing: border-box;

  position: absolute;
  width: 950px;
  height: 329px;
  left: 246px;
  top: 693px;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
}

.MypageBooking_content .choice button:nth-of-type(5) {
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
