.RentalDetails {
  /* 공연장 대관 선입금 결제 페이지-1 */

  position: relative;
  width: 1440px;
  height: 1932px;

  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
}

.RentalDetails_content {
  /* Container 117 */

  position: absolute;
  width: 1440px;
  height: 1932px;
  left: 0px;
  right: 0px;
  top: 77px;

  background: #fbfbfb;
  border-radius: 36px;
}

.RentalDetails_content .detail_back_button {
  /* oui:arrow-up */

  position: absolute;
  width: 36px;
  height: 48px;
  left: 162px;
  top: 114px;
  font-size: 40px;
  line-height: 68px;

  background-color: #ffffff;
  border: none;
  padding: 0;
}

.RentalDetails_content .Product_title1 {
  /* Product title */

  position: absolute;
  width: 317px;
  height: 48px;
  left: 221px;
  top: 114px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 68px;
  /* or 170% */

  color: #171a1f;
  margin: 0;
}

.RentalDetails_content .information h4 {
  /* Product title */

  position: absolute;
  width: 135px;
  height: 48px;
  left: 221px;
  top: 192px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 68px;
  /* or 243% */
  display: flex;
  align-items: center;

  color: #171a1f;
}

.information_date {
  /* Frame 259 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 192px;

  position: absolute;
  width: 442.23px;
  height: 38px;
  left: 223.77px;
  top: 252px;
}

.information_date .Frame256 {
  /* Frame 256 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 205.13px;
  height: 26.89px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.information_date .Frame256 img {
  /* uil:calender */

  width: 26.89px;
  height: 26.89px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.information_date .Frame256 p {
  /* 2024-06-01 */

  margin: 0;

  width: 168.24px;
  height: 25.35px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* or 163% */
  display: flex;
  align-items: center;

  color: #4f4f4f;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.information .information_poeple {
  /* Frame 260 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 192px;

  position: absolute;
  width: 443px;
  height: 38px;
  left: 223px;
  top: 305px;
}

.information .information_poeple .Frame257 {
  /* Frame 257 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 205.89px;
  height: 29.04px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.information .information_poeple img {
  /* ion:people-outline */

  width: 27.66px;
  height: 29.04px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.information .information_poeple p {
  /* 최대 100명 */

  width: 168.24px;
  height: 25.35px;
  margin: 0px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* or 163% */
  display: flex;
  align-items: center;

  color: #4f4f4f;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.information .information_video {
  /* Frame 261 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 192px;

  position: absolute;
  width: 443px;
  height: 38px;
  left: 223px;
  top: 360px;
}

.information .information_video .Frame258 {
  /* Frame 258 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 205.89px;
  height: 27.66px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.information .information_video .Frame258 img {
  /* Frame 22 */

  width: 27.66px;
  height: 27.66px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.information .information_video .Frame258 p {
  /* 공연 영상 제공 */

  width: 168.24px;
  height: 25.35px;
  margin: 0px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* or 163% */
  display: flex;
  align-items: center;

  color: #4f4f4f;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pay h4 {
  /* Product title */

  position: absolute;
  width: 135px;
  height: 48px;
  left: 221px;
  top: 459px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 68px;
  /* or 243% */
  display: flex;
  align-items: center;

  color: #171a1f;
}

.pay .pay_explain {
  /* 입금자명은 ‘홍길동’으로 해주세요 */

  position: absolute;
  width: 400px;
  height: 28px;
  left: 223px;
  top: 524px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #4f4f4f;
}

.pay p:nth-of-type(2) {
  /* 입금 계좌 */

  position: absolute;
  width: 81px;
  height: 28px;
  left: 223px;
  top: 570px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.pay p:nth-of-type(3) {
  /* (예금주) 쇼호 */

  position: absolute;
  width: 327px;
  height: 28px;
  left: 529px;
  top: 570px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  text-align: right;

  color: #0f0f0f;
}

.pay p:nth-of-type(4) {
  /* 우리은행 1002061254000 */

  position: absolute;
  width: 260px;
  height: 28px;
  left: 224px;
  top: 617px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.copy_accout {
  /* Frame 243 */

  position: absolute;
  width: 124px;
  height: 28px;
  left: 529px;
  top: 617px;

  cursor: pointer;
}

.copy_accout img {
  /* octicon:copy-16 */

  position: absolute;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 7px;
}

.copy_accout p {
  /* 계좌 복사하기 */

  position: absolute;
  width: 112px;
  height: 25px;
  left: 25px;
  top: 2px;
  margin: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  text-align: right;

  color: #058f6f;
}

.RentalDetails_content .checkbox1 {
  /* Frame 390 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;

  position: absolute;
  width: 288.85px;
  height: 35.87px;
  left: 221px;
  top: 1603px;
}

.RentalDetails_content .checkbox1 input {
  /* 체크박스 */

  width: 22.58px;
  height: 22.58px;

  appearance: none;

  border: 1.75px solid #07c093;
  border-radius: 2.70961px;
  background-color: #fbfbfb;
  position: relative;
}

.RentalDetails_content .checkbox1 input:checked {
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%2210%22%20viewBox%3D%220%200%2013%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.7262%200.928223C13.0888%201.29085%2013.0888%201.87977%2012.7262%202.2424L5.29949%209.66909C4.93686%2010.0317%204.34795%2010.0317%203.98532%209.66909L0.271973%205.95574C-0.0906578%205.59311%20-0.0906578%205.0042%200.271973%204.64157C0.634605%204.27894%201.22352%204.27894%201.58615%204.64157L4.64386%207.69638L11.4149%200.928223C11.7775%200.565592%2012.3665%200.565592%2012.7291%200.928223H12.7262Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");

  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #07c093;
}

.RentalDetails_content .checkbox1 p {
  /* 결제 내용 확인 및 동의 */

  width: 244.92px;
  height: 26.97px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 180% */
  display: flex;
  align-items: center;

  color: #0f0f0f;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 {
  /* Frame 395 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 435px;
  height: 60px;
  left: 231px;
  top: 1647px;
}

.RentalDetails_content .checkbox2 .checkbox2_1 {
  /* Frame 392 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 298px;

  width: 435px;
  height: 25px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 .checkbox2_1 span,
.RentalDetails_content .checkbox2 .checkbox2_2 span {
  /* Frame 391 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  width: 104.26px;
  height: 25px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 .checkbox2_1 input,
.RentalDetails_content .checkbox2 .checkbox2_2 input {
  /* ph:check-bold */

  width: 22.58px;
  height: 22.58px;
  margin: 0;
  appearance: none;
  border-color: transparent;

  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%2211%22%20viewBox%3D%220%200%2013%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.7262%201.05713C13.0888%201.41976%2013.0888%202.00867%2012.7262%202.37131L5.29949%209.798C4.93686%2010.1606%204.34795%2010.1606%203.98532%209.798L0.271973%206.08465C-0.0906578%205.72202%20-0.0906578%205.13311%200.271973%204.77047C0.634605%204.40784%201.22352%204.40784%201.58615%204.77047L4.64386%207.82528L11.4149%201.05713C11.7775%200.694498%2012.3665%200.694498%2012.7291%201.05713H12.7262Z%22%20fill%3D%22%239C9C9C%22/%3E%3C/svg%3E");
  background-color: #fbfbfb;
  border: none;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
}

.RentalDetails_content .checkbox2 .checkbox2_1 input:checked,
.RentalDetails_content .checkbox2 .checkbox2_2 input:checked {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%2210%22%20viewBox%3D%220%200%2013%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.7262%200.910645C13.0888%201.27328%2013.0888%201.86219%2012.7262%202.22482L5.29949%209.65151C4.93686%2010.0141%204.34795%2010.0141%203.98532%209.65151L0.271973%205.93817C-0.0906578%205.57554%20-0.0906578%204.98662%200.271973%204.62399C0.634605%204.26136%201.22352%204.26136%201.58615%204.62399L4.64386%207.6788L11.4149%200.910645C11.7775%200.548014%2012.3665%200.548014%2012.7291%200.910645H12.7262Z%22%20fill%3D%22%2307C093%22/%3E%3C/svg%3E");
}

.RentalDetails_content .checkbox2 .checkbox2_1 p:nth-of-type(1) {
  /* 환불규정 */

  width: 70px;
  height: 25px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #696969;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 .checkbox2_1 .see,
.RentalDetails_content .checkbox2 .checkbox2_2 .see {
  /* 보기 */

  width: 33px;
  height: 25px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: underline;

  color: #363636;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 .checkbox2_2 {
  /* Frame 394 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 298px;

  width: 435px;
  height: 25px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 .checkbox2_2 p:nth-of-type(1) {
  /* 유의사항 */

  width: 70px;
  height: 25px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #696969;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .checkbox2 .checkbox2_2 p:nth-of-type(2) {
  /* 보기 */

  width: 33px;
  height: 25px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: underline;

  color: #363636;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .Button {
  position: absolute;
  width: 167px;
  height: 51.12px;
  left: 221px;
  top: 1758px;

  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.RentalDetails_content .rental_card {
  /* Container 143 */

  box-sizing: border-box;

  position: fixed;
  /* 아래로 스크롤할때 내려간다는게 이게 맞는지..?? */
  width: 451px;
  height: 542px;
  left: calc(50% - 451px / 2 + 273.5px);
  top: 192px;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
}

.RentalDetails_content .rental_card .venue_img {
  /* Rectangle 12 */

  position: absolute;
  width: 142px;
  height: 142px;
  left: 37px;
  top: 37px;

  border-radius: 14px;
}

.RentalDetails_content .rental_card .venue_name {
  /* 001 클럽 */

  position: absolute;
  width: 289.21px;
  height: 37px;
  left: 195px;
  top: 53px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 49px;
  /* or 168% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
  margin: 0;
}

.RentalDetails_content .rental_card .venue_location {
  /* 서울특별시 마포구 와우산로18길 20 */

  position: absolute;
  width: 221px;
  height: 25px;
  left: 195px;
  top: 92px;

  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 49px;
  /* or 325% */
  display: flex;
  align-items: center;

  color: #535353;
}

.RentalDetails_content .rental_card .rental_card_capacity {
  /* Frame 62 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 7.08px;

  width: 101.83px;
  height: 35.42px;

  position: absolute;
  left: 195px;
  top: 128px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.RentalDetails_content .rental_card .rental_card_capacity img {
  /* ion:people-outline */

  width: 24.79px;
  height: 24.79px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.RentalDetails_content .rental_card .rental_card_capacity p {
  /* 최대 120명 */

  width: 169.95px;
  height: 35.42px;

  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  /* or 190% */
  display: flex;
  align-items: center;

  color: #535353;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .rental_card .rental_card_size {
  /* Frame 63 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4.43px;

  width: 78.8px;
  height: 35.42px;

  position: absolute;
  left: 310.99px;
  top: 128px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.RentalDetails_content .rental_card .rental_card_size img {
  /* bx:area */

  width: 24.79px;
  height: 24.79px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.RentalDetails_content .rental_card .rental_card_size p {
  /* 198m² */

  width: 69.95px;
  height: 35.42px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  /* or 190% */
  display: flex;
  align-items: center;

  color: #535353;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.rental_card .rental_price h3 {
  /* 대관비용 */

  position: absolute;
  width: 165px;
  height: 37px;
  left: 38px;
  top: 225px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 49px;
  /* or 203% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.rental_card .rental_price p:nth-of-type(1) {
  /* 대관료 */

  position: absolute;
  width: 113px;
  height: 28px;
  left: 38px;
  top: 273px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #424956;
}

.rental_card .rental_price p:nth-of-type(2) {
  /* ₩700,000 */

  position: absolute;
  width: 166px;
  height: 28px;
  left: 246px;
  top: 273px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  text-align: right;

  color: #424956;
}

.rental_card .rental_price p:nth-of-type(3) {
  /* 추가비 */

  position: absolute;
  width: 113px;
  height: 28px;
  left: 38px;
  top: 311px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #424956;
}

.rental_card .rental_price p:nth-of-type(4) {
  /* ₩100,000 */

  position: absolute;
  width: 166px;
  height: 28px;
  left: 246px;
  top: 311px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  text-align: right;

  color: #424956;
}

.rental_card .rental_price p:nth-of-type(5) {
  /* 총 합계 */

  position: absolute;
  width: 113px;
  height: 28px;
  left: 38px;
  top: 374px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #424956;
}

.rental_card .rental_price p:nth-of-type(6) {
  /* ₩805,000 */

  position: absolute;
  width: 166px;
  height: 28px;
  left: 249px;
  top: 374px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  text-align: right;

  color: #424956;
}

.rental_card .rental_price p:nth-of-type(7) {
  /* 예약금 */

  position: absolute;
  width: 83px;
  height: 32px;
  left: 38px;
  top: 435px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;

  color: #f01569;
}

.rental_card .rental_price p:nth-of-type(8) {
  /* ₩200,000 */

  position: absolute;
  width: 166px;
  height: 28px;
  left: 246px;
  top: 437px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  text-align: right;

  color: #f01569;
}

.rental_card .rental_price p:nth-of-type(9) {
  /* * 총 대관비를 반드시 확인하고 예약금을 지불하세요 */

  position: absolute;
  width: 374px;
  height: 28px;
  left: 38px;
  top: 477px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  /* or 200% */
  display: flex;
  align-items: center;

  color: #424956;
}

.rental_card .Line42 {
  /* Line 42 */

  position: absolute;
  width: 378px;
  height: 0px;
  left: 37px;
  top: 202px;

  border: 1.5px solid #e8e8e8;
}

.rental_card .Line41 {
  /* Line 41 */

  position: absolute;
  width: 378px;
  height: 0px;
  left: 38px;
  top: 359px;

  border: 1.5px solid #e8e8e8;
}

.rental_card .Line43 {
  /* Line 43 */

  position: absolute;
  width: 378px;
  height: 0px;
  left: 38px;
  top: 417px;

  border: 1.5px solid #e8e8e8;
}
