body {
    font-family: 'Pretendard';
    font-style: normal;
}

.Host_VenueNotice > h4 {
    width: 342px;
    height: 30px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    text-align: center;
}

.Host_VenueNotice > p {
    width: 995px;
    height: 30px;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    text-align: center;
    color: #0F0F0F;
    margin: 15px 0;
}

.notice-section {
    margin-bottom: 70px;
    width:600px;
    overflow-y: auto;
  }
  
  .notice-section h3 {
    font-size: 25px;
    font-weight: 600;
    color: #0F0F0F;
  }
  
  .notice-section p,
  .notice-section ul {
    font-size: 20px;
    color: #0F0F0F;
    line-height: 1.2; /* 내용 간 간격 줄이기 위해 조정 */
  }
  
  .notice-section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .notice-section ul li {
    line-height: 1.6;
    color: #4F4F4F;
  }
  
  .notice-section h3:nth-of-type(1) {
    top: 798px;
  }
  
  .notice-section h3:nth-of-type(2) {
    top: 1203px;
  }
  
  .notice-section h3:nth-of-type(3) {
    top: 2119px;
  }
  
  .notice-section h3:nth-of-type(4) {
    top: 2438px;
  }
  