body {
    font-family: 'Pretendard';
    font-style: normal;
}

.HostReview {
    box-sizing: border-box;
    padding: 20px 0;
    width: 720px;
    display: flex;
    margin: 20px 0;
    border-bottom: 1.5px solid #E8E8E8;
}

.profile {
    margin : 15px;
}

.profile img {
    width: 67px;
    height: 64px;
}

.review_container {
    width: 600px;
    flex-direction: column;
}

.name_score {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_score > h4 {
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    color: #0F0F0F;
}

.review_content > p {
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #0F0F0F;
}

.review-images {
    margin: 15px 0;
    display: flex;
    gap: 30px;
}

.review_date {
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #9C9C9C;
    margin: 15px 0;
}