body {
    font-family: 'Pretendard';
    font-style: normal;
}

.Host_VenueNotice > h4 {
    width: 342px;
    height: 30px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    text-align: center;
}

.Host_VenueNotice > p {
    width: 995px;
    height: 30px;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    text-align: center;
    color: #0F0F0F;
    margin: 15px 0;
}

.editor {
    margin: 40px 0;
}