body {
    font-family: 'Pretendard';
    font-style: normal;
}

.HostReview {
    box-sizing: border-box;
    padding: 20px 0;
    max-width: 660px;
    display: flex;
    margin: 20px 0;
    border-bottom: 1.5px solid #E8E8E8;
}

.profile {
    margin: 15px;
}

.profile img {
    width: 67px;
    height: 64px;
}

.review_container {
    max-width: 570px;
    flex-direction: column;
}

.name_score {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_score > h4 {
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    color: #0F0F0F;
}

.review_content > p {
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #0F0F0F;
    line-height: 1.5;
}

.review-images {
    margin: 15px 0;
    display: flex;
    gap: 30px;
}

.review_date {
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #9C9C9C;
    margin: 15px 0;
}

.review_answer {
    margin: 20px 0;
}

.Myanswer {
    max-width: 570px;
}

.Myanswer > h4 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 22px;
    align-items: center;
    color: #07C093;
    margin-top: 25px;
}

.answer {
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #0F0F0F;
    line-height: 30px;
}

.answer_date {
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #9C9C9C;
}

/* 추가된 스타일 */
.review-input-section {
    width: 650px;
    height: 250px;
    margin: 20px 0px 20px -10px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.review-stars {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-top: -10px;
}

.review-stars .star {
    cursor: pointer;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.review-stars span {
    margin-left: 10px;
    font-size: 22px;
    color: #b5b5b5;
}

.review-stars .star.selected,
.review-stars span.selected {
    color: #07C093;
}

.review-textarea {
    width: 625px;
    height: 108px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    resize: none;
    margin-bottom: 10px;
    background: #F5F5F5;
    font-size: 15px;
    line-height: 30px;
    margin-left: -10px;
}

.submit-review-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #09F1B966;
    cursor: pointer;

    position: relative;
    top: -155px;
    left: 540px;
}

.review-submit-message {
    margin-top: 10px;
    color: #07c093;
    font-size: 14px;
}

.review-add-panel {
    position: relative;
    left: -70px;
    cursor: pointer;
}

.notice-review {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    color: #696969;
    text-decoration: underline;
    cursor: pointer;

    position: relative;
    top: -110px;
    left: 405px;
    width:200px;
}

/* 유의사항 팝업 스타일 */
.popup-overlay32 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container32 {
    width: 698px;
    height: 593px;
    background: white;
    border-radius: 25px;
    padding: 40px 80px 40px 80px;
    box-sizing: border-box;
}

.popup-container32 h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.popup-container32 p {
    text-align: left;
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 35px;
    color:black;
    text-align: left;

}

.popup-close-button32 {
    width: 200px;
    height: 48px;
    padding: 13px 81px 13px 80px;
    border-radius: 15px; 
    background: #09F1B9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    position: relative;
    left:180px;
}

.image-preview-list{
    background-color:none;
    max-width:300px;

    position: relative;
    top: -140px;
    left: 100px;
}
.image-preview-item span{
    font-size:15px;
    color:#696969
}
.reviewimg_delete_btn{
    width:20px;
    position: relative;
    top:6px;
    left:5px;
}