/* venuedetails.css */
.venue-detail-page {
  position: relative;
  /* absol -> relat로 변경 */
  height: 2220px;
  width:1441px;
  left: 0px;
  right: -1px;
  top: 81px;

  background: #FBFBFB;
  border-radius: 36px;
  
}

.venue-detail-component {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fbfbfb;
    font-family: 'Pretendard';
}

.venue-info2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: absolute;
  width: 206px;
  height: 51px;
  left: 1048px;
  top: 131px;
}
.venue-info2 .linkcopy,
.venue-info2 .heart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 51px;
  border-radius: 5px;
  cursor: pointer;
}

.venue-info2 .linkcopy {
  width: 115px;
  margin-right: 5px;
}

.venue-info2 .heart {
  width: 91px;
}

.venue-info2 img {
  margin-right: 5px;
}

.venue-info2 span {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

/* 커서를 올렸을 때 밑줄이 생기도록 설정 */
.venue-info2 .linkcopy:hover span,
.venue-info2 .heart:hover span {
  text-decoration: underline;
}



/* venu-info 컴포넌트 설정 */
.venue-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  width: 425.53px;
  height: 105px;
  left: 186px;
  top: 68px;
}

.venue-info h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.venue-info .venue-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.venue-info .venue-rating .rating {
  font-size: 25px; /* 폰트 크기 변경 */
  margin-right: 5px;
  color: #07C093;

}

.venue-info .venue-rating .star-icon {
  width: 21.54px;
 height: 25.3px;
  margin-left: 3px;
}

.venue-info .venue-rating .reviews {
  font-size: 1em;
  color: gray;
}

.venue-info .venue-rating .address {
  font-size: 1em;
  color: gray;
}



/* venueimage 컴포넌트 설정 */
.venue-images {
    margin-bottom: 20px;
    margin-left: 20px;
}

.venue-images .main-image img {

  position: absolute;
  width: 585px;
  height: 397px;
  left: 186px;
  top: 213px;
  
  background: url(001사진.jpg);
  border-radius: 25px 0px 0px 25px;
  
}
.venue-images .sub-image .sub1 {
  position: absolute;
  width: 233px;
  height: 189px;
  left: 791px;
  top: 215px;
  
}

.venue-images .sub-image .sub2 {
  position: absolute;
  width: 233px;
  height: 189px;
  left: 1041px;
  top: 213px;
  border-radius: 0px 25px 0px 0px;
}

.venue-images .sub-image .sub3 {
position: absolute;
width: 233px;
height: 189px;
left: 791px;
top: 421px; 
}

.venue-images .sub-image .sub4 {
  position: absolute;
  width: 233px;
  height: 189px;
  left: 1041px;
  top: 421px;
  border-radius: 0px 0px 25px 0px;
  }

.venue-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.venue-main-content {
    flex-grow: 1;
    margin-right: 20px;
}



.venue-tabs {
    display: flex;
    margin-bottom: 20px;
    width: 650px;
    margin-left: 20px;
    border: 1px solid #dee1e6;
    border-radius: 20px;

    position: absolute;
    top: 678px;
    left: 187px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    
}

.venue-tabs button {
    padding: 15px;
    width: 130px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

.venue-tabs button:hover,
.venue-tabs button.active {
    background-color: #09F1B9;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
}




/* 제출 폼 컴포넌트 */
.booking-form {
  box-sizing: border-box;
  position: absolute;
  width: 341px;
  height: 489px;
  left: calc(50% - 341px/2 + 384px);
  top: 678px;

background: #FFFFFF;
border: 1px solid #E8E8E8;
border-radius: 25px;
}

.booking-form .price-info {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.booking-form .price-value {
  position: absolute;
  width: 166px;
  height: 31px;
  left: 41px;
  top: 33px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  /* or 100% */
  display: flex;
  align-items: center;
  
  color: #0F0F0F;
}

.booking-form .price-unit {
position: absolute;
width: 38px;
height: 23px;
left: 192px;
top: 41px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;

color: #0F0F0F;


}


.booking-options {
  margin-bottom: 20px;
}

.booking-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #B5B5B5;
  height: 43px;
  width:260px;
  padding-left:20px;

}

.first-option {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  top: 90px;
  left: 30px;
}



.sec-option {

  position: absolute;
  top: 154px;
  left: 30px;
}

.last-option {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 218px;
  left: 30px;
  gap: 0px;
}

.booking-option img {
  margin-right: 10px;
}

.booking-option-label {
  flex-grow: 1;
  font-size: 15px;
  color: #4f4f4f;
}




.booking-form .booking-button {
  position: absolute;
  width: 277px;
  height: 42px;
  left: 32px;
  top: 305px;

  background: #09F1B9;
  border-radius: 14px;  
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.booking-form .booking-button:hover {
    background-color: #07d3a5;
}

.booking-form .additional-info {
    padding-top: 10px;
}

.booking-form .additional-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 100px;
  
  position: absolute;
  width: 262px;
  height: 28px;
  left: 41px;
  top: 371px; 
}
.booking-form .additional-info-row .feetext {

  width: 79px;
  height: 28px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  
  color: #4F4F4F;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
}

.booking-form .additional-info-row .rental-fee{

  width: 116px;
  height: 28px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #4F4F4F;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  

}

.booking-form .additional-info-row2 {

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 100px;
  
  position: absolute;
  width: 265px;
  height: 28px;
  left: 40px;
  top: 428px;
}


.booking-form .additional-info-row2 .total-fee{
  /* ₩700,000 */

width: 116px;
height: 28px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 30px;
/* or 176% */
display: flex;
align-items: center;
text-align: right;

color: #4F4F4F;
flex: none;
order: 1;
flex-grow: 0;
}
.booking-form .additional-info-row2 .totaltext {

  width: 79px;
  height: 28px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
  display: flex;
  align-items: center;
  
  color: #4F4F4F;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
}

.divider-line {
  position: absolute;
  width: 265px;
  height: 0px;
  left: 38px;
  top: 405px;
  border: 1.5px solid #E8E8E8;
}








.venue-introduction,
.facility-info,
.venue-notice,
.venue-qna,
.venue-reviews {
    max-width: 650px;
    width: 80%;
    margin: 0px 20px 20px 0px;
    padding-left: 20px;
    background-color: transparent;
    position:absolute;
    width: 342px;
    height: 53px;
    top: 798px;
    left: 209px;
    gap: 0px;
    opacity: 0px;

}



/* 1번 : venue-introduction 컴포넌트 */
.venue-introduction {
  position: absolute;
  width: 582px;
  left: 209px;
  top: 798px;
}

.venue-introduction h2 {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  color: #0F0F0F;
  display: flex;
  align-items: center;
}

.venue-introduction p {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #0F0F0F;
}

.venue-introduction .label {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #9C9C9C;
  margin-right: 20px;
}

.venue-introduction .value {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #4F4F4F;
}

.venue-introduction .value-list {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #4F4F4F;

  position: relative;
  left:60px;
  top:-55px;
  margin-bottom: -30px;
} 

.venue-introduction .value-list2 {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #4F4F4F;

  position: relative;
  left:100px;
  top:-55px;
  margin-bottom: -30px;
} 
.venue-introduction .location {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #9C9C9C;
}

.map-image {
  position: absolute;
  width: 618px;
  height: 303px;
  left: 209px;
  top: 1634px;
  background: url('/path/to/your/map-image.png');
  border-radius: 14px;
}




/* 2번: 시설 안내 */
.facility_download_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0px;
}

.facility_download_grid {
  width:626px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.facility_download_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.facility_download_item img {
  width: 184px;
  height: 137px;
}

.facility_download_item p {
  margin-top: 10px;
  font-size: 16px;
  color: #696969;
}








/* 3번 : 유의사항 notice */
.venue-notice {
  position: relative;
  padding:0px;
  width:650px;
 height: 1000px; /* 필요한 경우 높이를 조정 */
  overflow-y: auto;
  overflow-x: hidden; /* 가로 스크롤 금지 */
  scrollbar-color: #B5B5B5 transparent; 

}


.notice-section {
  margin-bottom: 100px;
  width:600px;
  overflow-y: auto;
}

.notice-section h3 {
  font-size: 25px;
  font-weight: 600;
  color: #0F0F0F;
}

.notice-section p,
.notice-section ul {
  font-size: 20px;
  color: #0F0F0F;
  line-height: 1.2; /* 내용 간 간격 줄이기 위해 조정 */
}

.notice-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.notice-section ul li {
  line-height: 1.6;
  color: #4F4F4F;
}

.notice-section h3:nth-of-type(1) {
  top: 798px;
}

.notice-section h3:nth-of-type(2) {
  top: 1203px;
}

.notice-section h3:nth-of-type(3) {
  top: 2119px;
}

.notice-section h3:nth-of-type(4) {
  top: 2438px;
}

  
  
  

/* 4번: 대관일정 */
.venue-schedule {
  position: relative;
  width: 100%;
  padding: 20px;
}

.venue-schedule .schedule-title {
  position: absolute;
  width: 342px;
  height: 53px;
  left: 209px;
  top: 798px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #0f0f0f;
}

.calendar {
  position: absolute;
  left: 209px;
  top: 877px;
  width: 625px !important; 
  width: 580px !important; 
  background: #ffffff !important;
  border: 0.641026px solid #b5b5b5 !important;
  border-radius: 16px !important;
  padding: 15px !important;
}

.react-calendar {
  font-size: 1.2em; /* 글자 크기 조정 */
}

.react-calendar__navigation__label {
  font-size: 1.2em !important; /* 년월 글자 크기 조정 */
}

.react-calendar__tile {
  height: 80px !important; /* 타일 높이 조정 */
  width: 80px !important; /* 타일 너비 조정 */
  display: flex;
  justify-content: center; /* 왼쪽 정렬 */
  align-items: flex-start; /* 위쪽 정렬 */
  font-size: 1.2em; /* 날짜 글자 크기 조정 */
}

/* 요일 밑줄 제거 및 요일 줄과 날짜 줄 사이 구분선 추가 */
.react-calendar__month-view__weekdays,
.react-calendar__month-view__weekdays__weekday {
  margin-bottom: 10px !important;
  text-decoration: none !important;
  border-bottom: none !important; /* 요일 밑줄 제거 */
  border: none !important; /* 요일 밑줄 제거 */
}

.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--weekend {
  text-decoration: none !important;
}


/* 요일 줄과 날짜 줄 사이 구분선 */
.react-calendar__month-view__weekNumbers,
.react-calendar__month-view__days {
  border-top: 1px solid #b5b5b5 !important;
}

/* 현재 날짜 스타일 */
.react-calendar__tile--now {
  background: #fff !important;
}

.react-calendar__tile--active {
  background: #09f1b9 !important;
  color: #fff !important;
}



/*5번 : 후기*/
.venue-reviews {
  width: 650px;
  margin: 0 auto;
}

.reviews-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reviews-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.average-rating {
  color: #07C093;
}

.rating-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rating-section img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.rating-score {
  font-size: 1.2em;
  color: #07C093;
  margin-left: 10px;
}

.review-input-container {
  position: relative;
}

.review-input {
  width: 95%;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 1px solid transparent; /* border 투명화 */
  background: #f5f5f5; /* 배경색 설정 */
  font-size: 15px; /* 기본 텍스트 크기 설정 */
  line-height: 1.5; /* 줄간격을 1.5배로 설정 */
}

.submit-button {
  position: absolute;
  right: 0px;
  bottom:35px;
  width: 70px;
  height: 42px;
  background: rgba(9, 241, 185, 0.6);
  border-radius: 11.4852px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.image-add-panel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-add-panel img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

.image-add-text {
  font-size: 1em;
  color: #b5b5b5;
}

.review-warning {
  position: relative;
  top:-110px;
  left:20px;

  font-size: 14px;
  color: #696969;
  text-align: right;
  text-decoration: underline;
}

.review-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.review-content {
  flex: 1;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.profile-name {
  font-weight: bold;
}

.review-rating img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.review-content p {
  margin: 5px 0;
  color: black;
}

.review-image {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  border-radius: 10px;
}

.timestamp {
  font-size: 0.9em;
  color: #999;
}

.answer-content {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 3px solid #09f1b9;
}

.answer {
  font-weight: bold;
  color: #09f1b9;
  margin-bottom: 5px;
}

.answer-content p {
  margin: 5px 0;
}

.answer-timestamp {
  font-size: 0.9em;
  color: #999;
}

.map-image{
  width: Fixed (618px)px;
  height: Hug (402px)px;
  top: 990px;
  left: 20px;
  opacity: 0px;

}
