.editableDiv {
    margin-top: 30px;
    width: 100%;
    height: 567px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 14px;
}

.edit_bar {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #F2F2F2;
    gap: 20px;
}

.edit_bar > img {
    width: 38px;
    height: 38px;
}

.Bold_true {
    background: #949494;
}

.edit_content {
    box-sizing: border-box;
    width: 894px;
    min-height: 517px;
    overflow: auto;
    padding: 20px;
}

.draggableImage {
    max-width: 100%;
    cursor: move;
    user-select: none;
    position: absolute;
}
  
.draggableImage {
    /* Set initial size and position for images */
    width: 100px;
    height: auto;
}
  
.draggableImage:active {
    cursor: grabbing;
}
