/* Host_VenuRegisterPage.css */
.venue-register-page{

    position: relative;
    height: 2739px;
    width: 1441px;
    left: 0px;
    right: 0px;
    top: 81px;

    background: #FBFBFB;
    border-radius: 36px;

}

/* 공연장 이름과 수정 아이콘을 inline-flex로 묶기 */
.venue-name-wrapper {
    display: inline-flex;
    align-items: center;
    margin-left: 186px;
    margin-top: 42px;
}

.venue-name{
/* 
    position: absolute;
    width: 400px;
    height: 68px;
    left: 186px;
    top: 42px; */
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 68px;
    margin-right:10px;
    
    color: #0F0F0F;
    max-width: 700px; /* 최대 너비 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px; /* 아이콘과 이름 사이 간격 */
}

.name_edit_icon{

    width: 45px;
    height: 45px;
    cursor:pointer;
}

.venue-location{

    position: absolute;
    width: 700px;
    height: 28px;
    left: 186px;
    top: 140px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* or 108% */
    display: flex;
    align-items: center;
    
    color: #9C9C9C;
}

.registerbtn{

    position: absolute;
    width: 145.16px;
    height: 44.44px;
    left: 1129.16px;
    top: 83px;
    
    background: #09F1B9;
    border-radius: 14px;
    border: none;
    font-size: 18px;/* 등록하기 */
    font-family: 'Pretendard';
    font-style: normal;

    
    

}

.imagepanel1{/* Frame 188 */

    position: absolute;
    width: 585px;
    height: 397px;
    left: 186px;
    top: 213px;
    
    background: #E8E8E8;
    border-radius: 25px 0px 0px 25px;
}

.imagepanel2{/* Frame 189 */

    position: absolute;
    width: 233px;
    height: 189px;
    left: 791px;
    top: 215px;
    
    background: #E8E8E8;
}

.imagepanel3{/* Frame 190 */

    position: absolute;
    width: 233px;
    height: 189px;
    left: 791px;
    top: 421px;
    
    background: #E8E8E8;
}

.imagepanel4{/* Frame 191 */

    position: absolute;
    width: 233px;
    height: 189px;
    left: 1041px;
    top: 213px;
    
    background: #E8E8E8;
    border-radius: 0px 25px 0px 0px;
}

.imagepanel5{/* Frame 192 */

    position: absolute;
    width: 233px;
    height: 189px;
    left: 1041px;
    top: 421px;
    
    background: #E8E8E8;
    border-radius: 0px 0px 25px 0px;  
}

.register_image_btn{/* Frame 32 */

    position: absolute;
    width: 108px;
    height: 35px;
    left: 1150px;
    top: 555px;
    

    z-index: 2;
}

/* main-content */
.main-content {
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 730px;
    left: 190px;
    width: 100%;
}