.Home {
  position: relative;
  width: 1440px;
  height: 3895px;

  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
}

.HomeContent {
  position: absolute;
  width: 1440px;
  height: 3895px;
  left: 0px;
  right: 0px;
  top: 81px;

  background: #0f0f0f;
  /* 블랙말고 이걸로 해야 색깔 맞음 */
  border-radius: 36px;
}
