/* Container for the entire card */
.HotConcertHall {
    width: 310px;
    height: 413px;
    border: 2px solid #E8E8E8;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 6px;
}

.LikeAndImg {
    width: 100%;
    height: 236px;
    position: relative;
}

.LikeButton {
    position: absolute;
    top: 12px;
    right: 45px;
}

.ConcertHallImg {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    object-fit: cover;
}

.ConcertHallBody {
    display: flex;
    flex-direction: column;
    height: calc(100% - 236px);
    /* Adjusts based on image height */
    margin-top: 12px;
    padding: 0 10px;
}

.TopInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.TopInfoText {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.Name {
    font-size: 20px;
    font-weight: 500;
}

.Location {
    font-size: 14px;
    color: #4F4F4F;
}

.StarRate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.StarRatePoint {
    font-size: 20px;
    font-weight: 600;
    color: #07C093;
}

.BottomInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.InfoItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.InfoText {
    font-size: 12px;
}

.Icon {
    width: 20px;
    height: 20px;
}

.Price {
    font-size: 20px;
    border-top: 2px solid #E8E8E8;
    padding-top: 10px;
    text-align: right;
}