.LocateModalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LocateModalContent {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    height: 609px;
    position: absolute;
    top: 700px;
    left: 309px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.LocateModalBody {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    flex: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 48px;
    margin-right: 48px;
}

.Administrative,
.City {
    overflow-y: auto;
    max-height: 539px;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 18px;
    box-sizing: border-box;
    border: 1px solid #B5B5B5;
    margin: 0px;
    padding: 0px;
}

/* 스크롤바의 전체 트랙 스타일 */
.Administrative::-webkit-scrollbar {
    width: 4px;
    /* 스크롤바의 너비 */
}

/* 스크롤바의 트랙 스타일 */
.Administrative::-webkit-scrollbar-track {
    background: transparent
    /* 트랙 배경색 */
}

/* 스크롤바 핸들 스타일 */
.Administrative::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    height: 5px;
    width: 5px;
}

/* 핸들이 호버 상태일 때의 스타일 */
.Administrative::-webkit-scrollbar-thumb:hover {
    background: #1eeecb;
}