.RentalSearch {
    position: relative;
    width: 1440px;
    height: 1993px;
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
}

.RentalSearchContent {
    position: absolute;
    width: 1440px;
    height: 1993px;
    left: 0px;
    right: 0px;
    top: 81px;

    background: #f8f8f8;
    border-radius: 36px;
}

.BarAndFilter {
    margin-top: 52px;
    margin-bottom: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gap58 {
    height: 58px;
}

.BarAndFilter {
    display: flex;
}

.ConcertHallBody {
    width: 877px;
    background-color: aqua; 
}