.BookingSearchBar {
    width: 957px;
    height: 98px;

    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 50px;

    font-family: "Pretendard";
    font-weight: 500;
    color: Black;
    background-color: white;

    display: flex;
}

.Divider {
    margin-top: 27px;
    margin-bottom: 27px;
    width: 1.9px;
    background-color: #CFCFCF;
}