.Container113 .concert_img {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 486px;

  width: 858px;
  height: 52px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Container113 .concert_navbar {
  /* Frame 127 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 45px;

  width: 320px;
  height: 36px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Container113 .concert_navbar .home,
.Container113 .concert_navbar .concert_register,
.Container113 .concert_navbar .concert_ready {
  padding: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
